* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-wrapper {
  border: 2px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.toppart {
  border: 2px solid blue;
}
.buttompart {
  border: 2px solid yellow;
}
/* my barchat */
.the-bar-container {
  border: 2px solid red;
  height: 80%;
}
.the-bars {
  border: 2px solid green;
}
