* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(27, 66%, 92%);
}
.work-wrapper {
  border: 2px solid green;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 70%;
}
.toppart {
  border: 2px solid blue;
}
.buttompart {
  background-color: hsl(33, 100%, 98%);
  border: 2px solid yellow;
  padding: 3%;
  border-radius: 18px;
  height: 70%;
}
/* my barchat */

.the-bars {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  /* height: 90%; */
}
.bar {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  gap: 0.3rem;
  height: 100px;
}
.bar span {
  /* border: 2px solid orangered; */
  background-color: hsl(10, 79%, 65%);
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
  /* height: 50px; */
}
.first {
  height: 37.45px;
}
.sec {
  height: 54.91px;
}
.thir {
  height: 72.36px;
}
.fourth {
  height: 51.07px;
}
.fifth {
  height: 43.39px;
}
.sixth {
  height: 63.28px;
}
.sev {
  height: 45.48px;
}

.bar p {
  border: 2px solid green;
}
