* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(27, 66%, 92%);
}
.work-wrapper {
  border: 2px solid green;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 80%;
}
.toppart {
  border: 2px solid blue;
  height: 20%;
  display: flex;
  background-color: hsl(10, 71%, 57%);
}
.my-balace {
  border: 2px solid yellow;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0 8%;
  color: white;
}
.logo {
  border: 2px solid green;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: ;
}

/* the bottom */
.buttompart {
  background-color: hsl(33, 100%, 98%);
  border: 2px solid yellow;
  padding: 0% 3%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 18px;
  height: 80%;
}
/* my barchat */

.the-bars {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 60%;
  margin: 0 auto;
  border: 2px solid hsl(27, 66%, 92%);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 2%;
}
.bar {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  gap: 0.3rem;
  height: 100%;
  color: #382314;
}
.bars {
  background-color: hsl(10, 71%, 57%);
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}
.bars:hover {
  background-color: hsl(10, 79%, 65%);
  cursor: pointer;
}
/* making the hover prices work with flex */
.experiment {
  flex-wrap: wrap;
}
.hover-content {
  order: 1;
}
.experiment p {
  order: 3;
}
/* first */
.first {
  order: 2;
}
/* sec */
.sec {
  order: 2;
}
/* third */
.thir {
  order: 2;
}
/* forthhover */
.fourth {
  order: 2;
}
/* fifthhover */
.fifth {
  order: 2;
}
/* sixth */
.sixth {
  order: 2;
}
/* sev */
.sev {
  order: 2;
}
/* the height of each bar */
.first {
  height: 27.45%;
}
.sec {
  height: 44.91%;
}
.thir {
  height: 62.36%;
  background-color: hsl(186, 34%, 53%);
}

.thir:hover {
  background-color: hsl(186, 34%, 60%);
  cursor: pointer;
}
.fourth {
  height: 41.07%;
}
.fifth {
  height: 33.39%;
}
.sixth {
  height: 53.28%;
}
.sev {
  height: 35.48%;
}

/* Hide the hover content initially */
.hover-content {
  display: none;
}

/* Display the hover content when hovering over the trigger */
.hover-trigger:hover + .hover-content {
  display: block;
  font-size: 14px;
  background-color: #382314;
  color: white;
  width: 80%;
  padding: 4% 1%;
  border-radius: 4px;
  /* opacity: 0; */
}
/*Total pricing area */
.total-price {
  display: flex;
  margin: 2% auto;
  padding: 2% 0;
  color: #382314;
  width: 90%;
}
.Total {
  width: 50%;
}
.period {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.percentage {
  font-weight: bold;
}
